app-root {
  margin: 0;
  padding: 0;
}

app-bot-list {
  width: 500px;
  height: 500px;
  /*float: left;*/
}
app-chat{
  /*float: left;*/
}
.root{
  display: flex;
  justify-content: space-between;
}
